@font-face {
    font-family: "ProximaNova-Light";
    src: url("fonts/ProximaNova-Light.otf");
}

body {
    font-family: "ProximaNova-Light";
}

#toDo {
  position: relative;
  font-family: "ProximaNova-Light";
  font-size: 1.5em;
  border: 0;
  display: block;
  width: 405px;
  margin: 50px auto 0 auto;
  text-align: center;
}

#toDo:focus {
  outline: none;
}

#inputValueContainer {
  width: 625px;
  margin: 50px auto 0 auto;
}

.userInputs {
  font-size: 1.5em;
  transition: color 0.5s ease;
  display: inline-block;
  width: 200px;
  text-align: center;
}

.userInputs:hover {
  color: red;
  cursor: pointer;
}

#container {
  width: 625px;
  margin: 14em auto 0 auto;
}

.tasks {
  font-size: 1.0em;
  text-align: center;
  list-style: none;
}

.taskDifficulty {
  margin-left: 0.5em;
}
