@font-face {
    font-family: "ProximaNova-Light";
    src: url("fonts/ProximaNova-Light.otf");
}

body {
    font-family: "ProximaNova-Light";
}

#toDo {
  position: relative;
  font-family: "ProximaNova-Light";
  font-size: 1.2em;
  border: 0;
  border-bottom: 1px solid #965F8A;
  display: block;
  width: 405px;
  margin: 50px auto 0 auto;
  text-align: center;
}

#toDo:focus {
  outline: none;
}

#inputValueContainer {
  width: 180px;
  margin: 50px auto 0 auto;
}

.userInputs {
  font-size: 1.5em;
  transition: color 0.5s ease;
  display: inline-block;
  background: #C1292E;
  width: 60px;
  height: 60px;
}

#darkBlue {
  background: #4F5E7F;
}

#darkBlue:hover {
  cursor: pointer;
  background: rgba(79, 94, 127, 0.8);
}

#green {
  background: #4AC6B7;
}

#green:hover {
  cursor: pointer;
  background: rgba(74, 198, 183, 0.8);
}

#red {
  background: #FF7070;
}

#red:hover {
  cursor: pointer;
  background: rgba(255, 112, 112, 0.8);
}

.userInputsText {
  color: white;
  margin: 0 auto;
  text-align: center;
  line-height: 60px;
  vertical-align: center;
}

table { 
  width: auto;
  margin: 100px auto 0 auto;
}

.tableData2 {
  color: #FFFFFF;
  margin-left: 10em;
  background: red;
  height: 30px;
  width: 30px;
  text-align: center;
}